:host {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}


.content-container {
    align-items: flex-start;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    width: 100%;
    height: 100px;
}