.main-btn {
    border: none;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    background-image: linear-gradient(30deg, #f80c4c, #ac24fd);
    color: #fff;
    transition: 0.225s ease-in-out;
    border-radius: 8px;
    width: 200px;
}

.main-btn:hover {
    box-shadow: 0 10px 10px lightgray;
    border-radius: 16px;
}

@media (max-width:678px) {
    .main-btn {
        padding: 0.5rem 1rem;
        width: 150px;
    }
}

@media (max-width:485px) {
    .main-btn {
        padding: 0.5rem 0.75rem;
        width: 100px;
        font-size: 1rem;
    }
}